bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/nuget.config
/AstroClockExporter.sln.DotSettings.user
TestResults/
/config.local.yml
/compose.override.yml
http-client.private.env.json
